<!DOCTYPE html>
<html lang="en">
  <head>

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>Fantasy Golf</title>

  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">Fantasy Golf</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/tournaments">Tournaments</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      {%block body%}{%endblock%}
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </div>

  </body>
</html>
